<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="stylesheets/MacDeskStyle.css">
        <link rel="stylesheet" href="stylesheets/9x9table.css">

        <style media="screen">
            .st1 {
                /*width: 250px;*/
                border-bottom: 1px solid #e0e0e0;
                margin: 20px;
                padding-bottom: 10px;
            }

            .label1 {
                /*width: 100px;*/
                float: left;
                text-align: right;
                padding-right: 3px;
            }
            section {
                padding-bottom: 20px;
                margin-bottom: 1.3%;
                /*border-bottom: 3px solid #ccc;*/
            }
            fieldset {
                width: 500px;
                margin: 15px;
                border: 1px solid #acd6ff;
                border-radius: 15px;
            }

        </style>

        <script type="text/javascript">
            window.onload = function () {
                closeWin();
            };

            function closeWin() {

                document.getElementById("x").addEventListener("click", function () {
                    this.style.display = 'none';
                })
                document.getElementById("m").addEventListener("click", function () {
                    this.style.display = "none";
                })
            }

            // function iconToggle(item) {     var x = document.getElementById('item');     if (x.style.display === 'none') {         x.style.display = 'block';     } else {         x.style.display = 'none';     } }

            function NxNtableCul() {
                document.write("<table>")
                for (j = 2; j < 10; j++) {
                    document.write("<tr>");
                    for (i = 1; i < 10; i++) {
                        document.write("<td>\t" + j + "x" + i + " = \t" + j * i + "</td>");
                    }
                    document.write("</tr>");
                }
                document.write("</table>")
            }

            function displayNxN() {
                document.getElementById("NxN").style.display = "initial";
            }

            // 表格驗證

            function chkEmail() {

                var theEmail = document.getElementById("idEmail").value;

                var re = new RegExp("^.+@.+\\..{2,3}$");

                if (re.test(theEmail))
                    alert("successful");
                else
                    alert("failure");
                }
            function chkName() {

                var theName = document.getElementById("account1").value;

                var re = new RegExp("^[\u4e00-\u9fa5]{2,}$");

                if (re.test(theName))
                    document.getElementById("account1").insertAdjacentHtml('afterEnd', '<p>successful</p>');
                else
                    document.getElementById("account1").insertAdjacentHtml('AfterEnd', '<p>failure</p>');
                }
                function chkDate() {

                    var theName = document.getElementById("account1").value;

                    var re = new RegExp("^[\u4e00-\u9fa5]{2,}$");

                    if (re.test(theName))
                        document.getElementById("account1").insertAdjacentHtml('afterEnd', '<p>successful</p>');
                    else
                        document.getElementById("account1").insertAdjacentHtml('AfterEnd', '<p>failure</p>');
                    }
        </script>
    </script>

</head>

<!-- <%= livereload_js %> -->

<body>
    <div id="connect">

        <div class="windows" id="NxN" style="display:none">
            <div class="splitView">
                <span id="x" class="slitb">x</span>
                <span id="m" class="slitb">-</span>
                <span id="s" class="slitb">/</span>
            </div>

            <div class="mainpage">
                <h2>九九乘法表</h2>

                <script type="text/javascript">
                    NxNtableCul();
                </script>

            </div>
        </div>

        <div id="RegExp_windows">
            <div class="splitView">
                <span id="x" class="slitb">x</span>
                <span id="m" class="slitb">-</span>
                <span id="s" class="slitb">/</span>
            </div>

            <div class="mainpage">

                <h2>表格驗證</h2><br>

                <form action="#" method="get" accept-charset="utf-8">
                    <div class="stl1">
                        <label class="label1" for="account1" onblur="">姓名：</label>
                        <input type="text" name="account1" id="account1" value="guest"/></br>
                    <span>(1.不可以空白，至少兩個字以上，3.必須全部為中文字)</span>
                </div>
                <div class="stl1">
                    <label class="label1" for="pwd1">密碼：</label>
                    <input type="password" name="pwd1" id="pwd1"/></br>
                <span>(1.不可以空白，2.至少6個字包含英文字母、數字、特殊字元〔!@#$%^&*〕)</span>
            </div>
            Email:<input type="text" id="idEmail"/>
            <input type="button" value="checkEmail" onclick="chkEmail()"/>

            <div class="stl1">
                <label class="label1" for="memo1">意見：</label>
                <textarea name="memo1" id="memo1" rows="8" cols="100"></textarea>
            </div>

            <p class="sub">
                <input type="submit" value="Continue &rarr;" onclick="chkName()"/>
            </p>
        </form>

    </div>
</div>
</div>
</div>

<!-- Mac desktop -->
<div id="dock-container">
<div id="dock">
<ul>
    <li>
        <span>回首頁</span>
        <img src="images\fruiticons_buttons_apple.png" onclick=""/>
    </li>
    <li>
        <span>九九乘法表</span>
        <img src="images\fruiticons_buttons_watermelon.png" onclick="displayNxN()"/>
    </li>
    <li>
        <span>表格驗證</span>
        <img src="images\fruiticons_buttons_pineapple.png" onclick=""/>
    </li>
    <li>
        <span>Windows</span>
        <img src="images\fruiticons_buttons_orange.png" onclick=""/>
    </li>
    <li>
        <span>Blackberry</span>
        <img src="images\fruiticons_buttons_strawberry.png"/>
    </li>
    <li>
        <span>Sony Ericsson</span>
        <img src="images\fruiticons_buttons_grape.png"/>
    </li>
</ul>
<div class="base"></div>
</div>
</div>
<!-- Mac desktop -->

</div>
<!--connect -->

</body>
</html>
