<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="stylesheets/MacDeskStyle.css">
        <link rel="stylesheet" href="stylesheets/9x9table.css">
        <link rel="stylesheet" href="stylesheets/star.css">
        <link rel="stylesheet" href="stylesheets/Ad.css">

        <script type="text/javascript">
            window.onload = function () {
                xButts();
                mButts();

                document.getElementById("account1").addEventListener("blur", chkName);
                document.getElementById("pwd1").addEventListener("blur", chkPwd);
                document.getElementById("date1").addEventListener("blur", chkDate);

                document.getElementById("account1").addEventListener("focus", tipName);
                document.getElementById("pwd1").addEventListener("focus", tipPwd);
                document.getElementById("date1").addEventListener("focus", tipkDate);

            };

            function tipName() {

                document.getElementById("tips").innerHTML = "<span id='tips'>1.姓名不可以空白，至少兩個字以上，3.必須全部為中文字</span>"
            }
            function tipPwd() {

                document.getElementById("tips").innerHTML = "<span id='tips'>1.不可以空白，2.至少6個字包含英文字母、數字、特殊字元〔!@#$%^&*〕</span>"
            }
            function tipkDate() {

                document.getElementById("tips").innerHTML = "<span id='tips'>輸入格式(1990/01/01)</span>"
            }

            function xButts() {

                var xButts = document.getElementsByClassName("x");
                var xButtsLen = xButts.length;

                for (var i = 0; i < xButtsLen; i++) {

                    xButts[i].onclick = function () {
                        this.parentElement.parentElement.style.display = "none";
                    };
                };
            }

            function mButts() {

                var mButts = document.getElementsByClassName("m");
                var mButtsLen = mButts.length;

                for (var i = 0; i < mButtsLen; i++) {

                    mButts[i].onclick = function () {
                        //這裡寫動畫
                        this.parentElement.parentElement.style.display = "none";
                    };
                };
            }

            function NxNtableCul() {
                document.write("<table>")
                for (j = 2; j < 10; j++) {
                    document.write("<tr>");
                    for (i = 1; i < 10; i++) {
                        document.write("<td>\t" + j + "x" + i + " = \t" + j * i + "</td>");
                    }
                    document.write("</tr>");
                }
                document.write("</table>")
            }

            function goDesktop() {

                var wins = document.getElementsByClassName("windows");
                var winsLen = wins.length;

                for (var i = 0; i < winsLen; i++) {
                    wins[i].style.display = "none";
                };

            }

            function displayNxN() {

                goDesktop();
                document.getElementById("NxN").style.display = "inline";

            }
            function displayRegExp() {
                goDesktop();
                document.getElementById("RegExp").style.display = "inline";
            }

            function displayStarts() {
                goDesktop();
                document.getElementById("Starts").style.display = "inline";
            }

            function displayAd() {
                goDesktop();
                document.getElementById("Ad").style.display = "inline";
            }
            function displayCalendar() {
                goDesktop();
                document.getElementById("Calendar").style.display = "inline";
            }

            function iconToggle(item) {
                var x = document.getElementById('item');
                if (x.style.display === 'none') {
                    x.style.display = 'block';
                } else {
                    x.style.display = 'none';
                }
            }

            // 表格驗證

            function chkName() {
                document.getElementById("tips").innerHTML = "<span id='tips'></span>"
                var theName = document.getElementById("account1").value;
                var re = new RegExp("^[\u4e00-\u9fa5]{2,}$");
                if (theName == "Enter your name" || theName == "") {
                    document.getElementById("sp1").innerHTML = "<img src='../images/error.png' />姓名不得空白";
                } else if (theName.length < 4) {

                    document.getElementById("sp1").innerHTML = "<img src='../images/error.png' />字數不得小於二";
                }
                if (re.test(theName)) {
                    document.getElementById("sp1").innerHTML = "<img src='../images/ok.png' />正確";
                } else
                    document.getElementById("sp1").innerHTML = "<img src='../images/error.png' />請輸入中文字";

                }

            function chkPwd() {
                document.getElementById("tips").innerHTML = "<span id='tips'></span>"
                var thePass = document.getElementById("pwd1").value;

                var re = new RegExp("^(?!.*[^\x21-\x7e]){6,}$");

                if (thePass == "") {
                    document.getElementById('sp2').innerHTML = "<img src='../images/error.png' />密碼不得空白";
                } else if (re.test(thePass)) {
                    document.getElementById('sp2').innerHTML = '<img src="../images/ok.png" />正確';
                } else
                    document.getElementById('sp2').innerHTML = "<img src='../images/error.png' />密碼不符合格式";
                }

            function chkDate() {
                document.getElementById("tips").innerHTML = "<span id='tips'></span>"
                var date = document.getElementById("date1").value;
                var dateArray = date.split("/");
                var year = dateArray[0];
                month = dateArray[1];
                day = dateArray[2];
                var ch = new Date(new Date(date));

                if (date == "") {
                    document.getElementById("sp3").innerHTML = "<img src='../images/error.png' />日期不得空白";
                } else if (ch.getFullYear() == year && (ch.getMonth() + 1) == month && ch.getDate() == day) {
                    document.getElementById("sp3").innerHTML = '<img src="../images/ok.png" />正確';
                } else
                    document.getElementById("sp3").innerHTML = '<img src="../images/error.png" />日期不符合格式';
                }

            function chkAll() {
                chkName();
                chkPwd();
                chkDate();
            }
        </script>

    </head>

    <%= livereload_js %>

    <body>
        <div id="connect">

            <!-- <div class="load">
            <div class="light"></div>
            <div class="ball"></div>
        </div> -->

            <div class="windows" id="NxN" style="display:none">
                <div class="splitView">
                    <span class="x slitb">
                        <div class="sl">ｘ</div>
                    </span>
                    <span class="m slitb">
                        <div class="sl">－</div>
                    </span>
                    <span class="s slitb">
                        <div class="sl">／</div>
                    </span>
                </div>

                <div class="mainpage">
                    <h2>九九乘法表</h2>

                    <script type="text/javascript">
                        NxNtableCul();
                    </script>

                </div>
            </div>

            <!-- RegExp -->

            <div class="windows" id="RegExp" style="display:none">
                <div class="splitView">
                    <span class="x slitb">
                        <div class="sl">ｘ</div>
                    </span>
                    <span class="m slitb">
                        <div class="sl">－</div>
                    </span>
                    <span class="s slitb">
                        <div class="sl">／</div>
                    </span>
                </div>

                <div class="mainpage">

                    <h2>註冊帳號</h2>
                    <span id="tips"></span>
                    <br>
                    <fieldset id="Signin">
                        <legend>
                            <span style="background-color:#FFF;">" Sign In "</span>
                        </legend>
                        <form action="#" method="get" accept-charset="utf-8">
                            <div class="stl1">
                                <label class="label1" for="account1">姓名：</label>
                                <input type="text" id="account1"/></br>
                            <!-- <span>(1.不可以空白，至少兩個字以上，3.必須全部為中文字)</span> -->
                            <span id="sp1"></span>
                        </div>
                        <div class="stl1">
                            <label class="label1" for="pwd1">密碼：</label>
                            <input type="password" name="pwd1" id="pwd1"/></br>
                        <!-- <span>(1.不可以空白，2.至少6個字包含英文字母、數字、特殊字元〔!@#$%^&*〕)</span> -->
                        <span id="sp2"></span>
                    </div>
                    <div class="stl1">
                        <label class="label1" for="date">生日：</label>
                        <input type="password" name="date1" id="date1"/></br>
                    <!-- <span>輸入格式(1990/01/01)</span> -->
                    <span id="sp3"></span>
                </div>

                <div class="stl1">
                    <label class="label1" for="memo1">備註：</label>
                    <textarea name="memo1" id="memo1" rows="7" cols="25" autofocus></textarea>
                </div>

                <p class="sub">
                    <input type="button" value="Continue &rarr;" onclick="chkAll()"/>
                </p>
            </form>
        </fieldset>

    </div>
</div>
<!-- Starts  -->
<div class="windows" id="Starts" style="display:none">
    <div class="splitView">
        <span class="x slitb">
            <div class="sl">ｘ</div>
        </span>
        <span class="m slitb">
            <div class="sl">－</div>
        </span>
        <span class="s slitb">
            <div class="sl">／</div>
        </span>
    </div>

    <div class="mainpage">
        <h2>星星評分</h2>
        <div class="wrapper">
            <a href="javascript:;" title="1顆星，同情你"></a>
            <a href="javascript:;" title="2顆星，再加油"></a>
            <a href="javascript:;" title="3顆星，及格囉"></a>
            <a href="javascript:;" title="4顆星，很不錯"></a>
            <a href="javascript:;" title="5顆星，太完美"></a>

        </div>
    </br>
</hr>
<span id="dir"></span>

<script src="javascripts/star.js" charset="utf-8"></script>

</div>

</div>

<!-- 廣告輪播  -->

<div class="windows" id="Ad">
<!--  style="display:none"> -->
<div class="splitView">
<span class="x slitb">
    <div class="sl">ｘ</div>
</span>
<span class="m slitb">
    <div class="sl">－</div>
</span>
<span class="s slitb">
    <div class="sl">／</div>
</span>
</div>

<div class="mainpage">
<h2 style="margin-bottom: 10vh">廣告輪播(需要按play=>)</h2>
<span>↓ 點擊圖片連結外網 ↓</span>

<!-- <div id="my_div"></div> -->

<style media="screen">
    .AdItems div {
        display: inline-block;
        background-color: lightseagreen;
        width: 20%;
        height: 5vw;
        padding-top: 15px;
        font-weight: bold;

        max-width: 100px;
        max-height: 50px;
    }
    .clb:hover {
        background-color: white;
        border: 1px lightseagreen solid;
    }

</style>

<script type="text/javascript">
    var timer = 1500;
    var nums = 1;
    var dsq;
    window.onload = function f() {

        var obj = document.getElementById('li1');
        obj.style.background = "none";
        obj.style.border = "1px lightseagreen solid";
        dsq = setInterval("auto()", 1000); //定时器

    }

    function auto() {

        var img = document.getElementById('img1');
        if (nums > 4) {
            nums = 1;
        }
        img.src = "images/00" + nums + ".jpg";
        for (j = 1; j <= 4; j++) {
            var obj = document.getElementById('li' + j);
            obj.style.background = "lightseagreen";
            obj.style.border = "none";
        }
        var li = document.getElementById('li' + nums);
        li.style.background = "none";
        li.style.border = "1px lightseagreen solid";
        nums++;
    }

    function stop() {
        window.clearInterval(dsq);
        sNum = parseInt(nums);

    }

    function star() {
        window.clearInterval(dsq);
        dsq = setInterval("auto()", timer);
    }

    function btn(m) {
        // window.clearInterval(dsq);
        var img = document.getElementById('img1');
        if (m > 4) {
            m = 1
        };
        if (m < 0) {
            m = 4
        };
        img.src = "images/00" + m + ".jpg ";

        for (j = 1; j <= 4; j++) {
            var obj = document.getElementById('li' + j);
            obj.style.background = "lightseagreen";
            obj.style.border = "none";
        }
        var li = document.getElementById('li' + m);
        li.style.background = "none";
        li.style.border = "1px lightseagreen solid";

        nums = m + 1;
        window.clearInterval(dsq);
    }
    function btnP(m) {
        // window.clearInterval(dsq);
        var img = document.getElementById('img1');
        m=m+1;
        if (m > 4) {
            m = 1
        };
        if (m <= 0) {
            m = 4
        };
        img.src = "images/00" + parseInt(m)+ ".jpg ";

        for (j = 1; j <= 4; j++) {
            var obj = document.getElementById('li' + j);
            obj.style.background = "lightseagreen";
            obj.style.border = "none";
        }
        var li = document.getElementById('li' + m);
        li.style.background = "none";
        li.style.border = "1px lightseagreen solid";
nums =m;
    }
    function btnM(m) {
        // window.clearInterval(dsq);
        var img = document.getElementById('img1');
        m=m-1;
        if (m > 4) {
            m = 1
        };
        if (m <= 0) {
            m = 4
        };
        img.src = "images/00" +  parseInt(m) + ".jpg ";

        for (j = 1; j <= 4; j++) {
            var obj = document.getElementById('li' + j);
            obj.style.background = "lightseagreen";
            obj.style.border = "none";
        }
        var li = document.getElementById('li' + m);
        li.style.background = "none";
        li.style.border = "1px lightseagreen solid";
nums =m;
    }

    function linker(){
      // alert(document.getElementById("img1").src);
        var src1 = document.getElementById("img1").src.split(".");
        var src2 = src1[3].split("00");
        var src3 = parseInt(src2[1]);
        if(src3 == 1)
            window.open("https://www.mcdelivery.com.tw", "_blank", "top=200,left=500,width=500,height=100");
        else if(src3==2)
            window.open("http://www.apple.com/tw", "_blank", "top=200,left=500,width=500,height=100");
        else if(src3==3)
            window.open("http://www.chanel.com/zh_TW/", "_blank", "top=200,left=500,width=500,height=100");
        else if(src3==4)
            window.open("https://www.google.com.tw", "_blank", "top=200,left=500,width=500,height=100");
        else
            window.open("https://www.youtube.com", "_blank", "top=200,left=500,width=500,height=100");
    }


</script>

<div class="AdItems">
    <div id="back"class="clb" onmouseover="stop()" onclick="btnM(nums)">←</div>
    <img id="img1" src="images/001.jpg" onmouseover="stop()" onmouseout="star()" onclick="linker()" width="450" height="200">
    <div id="forward"class="clb" onmouseover="stop()" onclick="btnP(nums)">→</div>
    <hr>
    <div id="li1" onmouseover="btn(1)" onmuseout="star()" onclick="linker()">McDonald's</div>
    <div id="li2" onmouseover="btn(2)" onmuseout="star()" onclick="linker()">iphone6S</div>
    <div id="li3" onmouseover="btn(3)" onmuseout="star()" onclick="linker()">Chanel</div>
    <div id="li4" onmouseover="btn(4)" onmuseout="star()" onclick="linker()">Google</div>
    <hr>
    <div id="pause"class="clb" onmouseover="stop()" onclick="stop()">Pause II</div>
    <div id="play" class="clb" onmouseover="stop()" onclick="star()">Play =><span>(1.5秒)</span></div>
</div>

</div>
</div>

<!-- Calendar -->

<div class="windows" id="Calendar" style="display:none">
<div class="splitView">
<span class="x slitb">
    <div class="sl">ｘ</div>
</span>
<span class="m slitb">
    <div class="sl">－</div>
</span>
<span class="s slitb">
    <div class="sl">／</div>
</span>
</div>

<div class="mainpage">
<h2>日曆驗證</h2>

<script type="text/javascript">
    window.onload = function () {
        setDate(2010, 2020, "selY");
        setDate(1, 12, "selM");
        setDate(1, 31, "selD");
        var date;

        document.getElementById("selM").addEventListener("change", function () {
            var y = document.getElementById("selY").value;
            var m = document.getElementById("selM").value;
            var d = document.getElementById("selD").value;
            document.getElementById("selD").length = 0;
            if (m == 2) {
                if (y % 400 == 0 || (y % 4 == 0 && y % 100 != 0)) {
                    //閏年閏月
                    setDate(1, 29, "selD");
                } else {
                    //document.getElementById("selD").length = 0;
                    setDate(1, 28, "selD");
                }
            } else if (m == 4 || m == 6 || m == 9 || m == 11) {
                //document.getElementById("selD").length = 0;
                setDate(1, 30, "selD");
            } else {
                //document.getElementById("selD").length = 0;
                setDate(1, 31, "selD");
            }
        });
    }

    function innerDate() {

        y = document.getElementById("selY").value;
        m = document.getElementById("selM").value;
        d = document.getElementById("selD").value;
        date = "您選擇的日期是 " + y + "年" + m + "月" + d + "日";
        document.getElementById("info").innerHTML = date;
    }

    function setDate(begin, end, unit) {
        for (var i = begin; i <= end; i++) {
            var o = document.createElement("OPTION");
            var v = document.createTextNode(i);
            o.appendChild(v);
            document.getElementById(unit).appendChild(o);
        }
    }
</script>

<style>

    #info {
        border: 1px solid black;
        height: 300px;
        width: 400px;
        line-height: 3em;
        padding-left: 15px;
        margin: 0 auto;
        display: inline-block;
    }

    article {
        width: 50%;
        float: left;
    }

    aside {
        width: 50%;
        float: right;

    }

</style>

<article>

    <select id="selY" onchange="innerDate()"></select>年
    <select id="selM" onchange="innerDate()"></select>月
    <select id="selD" onchange="innerDate()"></select>日

</article>

<aside>
    <div>
        <h3>Information</h3>
        <p id="info"></p>
    </div>
</aside>

</div>
</div>

</div>
<!--  content -->

<!-- Mac desktop -->
<div id="dock-container">
<div id="dock">
<ul>
<li>
    <span>回首頁</span>
    <img src="images\fruiticons_buttons_apple.png" onclick="goDesktop()"/>

    <!-- /onclick="function () { document.querySlectorAll(.windows).style.display='none'; }" -->
</li>
<li>
    <span>九九乘法表</span>
    <img src="images\fruiticons_buttons_watermelon.png" onclick="displayNxN()"/>
    <!-- onclick="function () { iconToggle(this.id); }" -->

</li>
<li>
    <span>註冊帳號</span>
    <img src="images\fruiticons_buttons_pineapple.png" onclick="displayRegExp()"/>
    <!-- onclick="function () { iconToggle(this.id); }" -->

</li>
<li>
    <span>星星評分</span>
    <img src="images\fruiticons_buttons_orange.png" onclick="displayStarts()"/>
</li>
<li>
    <span>廣告輪播</span>
    <img src="images\fruiticons_buttons_strawberry.png" onclick="displayAd()"/>
</li>
<li>
    <span>日曆驗證</span>
    <img src="images\fruiticons_buttons_grape.png" onclick="displayCalendar()"/>
</li>
</ul>
<div class="base"></div>
</div>
</div>
<!-- Mac desktop -->

</div>
<!--connect -->

<audio autoplay>
<source src="..\audio\macOpen.mp3" type="audio/mpeg">
</audio>

</body>
</html>
