<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="stylesheets/MacDeskStyle.css">
        <link rel="stylesheet" href="stylesheets/9x9table.css">

        <script type="text/javascript">
            window.onload = function () {
                xButts();
                mButts();

                document.getElementById("account1").addEventListener("blur", chkName);
                document.getElementById("pwd1").addEventListener("blur", chkPwd);
                document.getElementById("date1").addEventListener("blur", chkDate);

                document.getElementById("account1").addEventListener("focus", tipName);
                document.getElementById("pwd1").addEventListener("focus", tipPwd);
                document.getElementById("date1").addEventListener("focus", tipkDate);

            };

            function tipName() {

                document.getElementById("tips").innerHTML = "<span id='tips'>1.姓名不可以空白，至少兩個字以上，3.必須全部為中文字</span>"
            }
            function tipPwd() {

                document.getElementById("tips").innerHTML = "<span id='tips'>1.不可以空白，2.至少6個字包含英文字母、數字、特殊字元〔!@#$%^&*〕</span>"
            }
            function tipkDate() {

                document.getElementById("tips").innerHTML = "<span id='tips'>輸入格式(1990/01/01)</span>"
            }

            function xButts() {

                var xButts = document.getElementsByClassName("x");
                var xButtsLen = xButts.length;

                for (var i = 0; i < xButtsLen; i++) {

                    xButts[i].onclick = function () {
                        this.parentElement.parentElement.style.display = "none";
                    };
                };
            }

            function mButts() {

                var mButts = document.getElementsByClassName("m");
                var mButtsLen = mButts.length;

                for (var i = 0; i < mButtsLen; i++) {

                    mButts[i].onclick = function () {
                        //這裡寫動畫
                        this.parentElement.parentElement.style.display = "none";
                    };
                };
            }

            function NxNtableCul() {
                document.write("<table>")
                for (j = 2; j < 10; j++) {
                    document.write("<tr>");
                    for (i = 1; i < 10; i++) {
                        document.write("<td>\t" + j + "x" + i + " = \t" + j * i + "</td>");
                    }
                    document.write("</tr>");
                }
                document.write("</table>")
            }

            function goDesktop() {

                var wins = document.getElementsByClassName("windows");
                var winsLen = wins.length;

                for (var i = 0; i < winsLen; i++) {
                    wins[i].style.display = "none";
                };

            }

            function displayNxN() {

                goDesktop();
                document.getElementById("NxN").style.display = "inline";

            }
            function displayRegExp() {
                goDesktop();
                document.getElementById("RegExp").style.display = "inline";
            }

            function displayStarts() {
                goDesktop();
                document.getElementById("Starts").style.display = "inline";
            }

            function displayAd() {
                goDesktop();
                document.getElementById("Ad").style.display = "inline";
            }
            function displayCalendar() {
                goDesktop();
                document.getElementById("Calendar").style.display = "inline";
            }

            function iconToggle(item) {
                var x = document.getElementById('item');
                if (x.style.display === 'none') {
                    x.style.display = 'block';
                } else {
                    x.style.display = 'none';
                }
            }

            // 表格驗證

            function chkName() {
                document.getElementById("tips").innerHTML = "<span id='tips'></span>"
                var theName = document.getElementById("account1").value;
                var re = new RegExp("^[\u4e00-\u9fa5]{2,}$");
                if (theName == "Enter your name" || theName == "") {
                    document.getElementById("sp1").innerHTML = "<img src='../images/error.png' />姓名不得空白";
                } else if (theName.length < 4) {

                    document.getElementById("sp1").innerHTML = "<img src='../images/error.png' />字數不得小於二";
                }
                if (re.test(theName)) {
                    document.getElementById("sp1").innerHTML = "<img src='../images/ok.png' />正確";
                } else
                    document.getElementById("sp1").innerHTML = "<img src='../images/error.png' />請輸入中文字";

                }

            function chkPwd() {
                document.getElementById("tips").innerHTML = "<span id='tips'></span>"
                var thePass = document.getElementById("pwd1").value;

                var re = new RegExp("^(?!.*[^\x21-\x7e]){6,}$");

                if (thePass == "") {
                    document.getElementById('sp2').innerHTML = "<img src='../images/error.png' />密碼不得空白";
                } else if (re.test(thePass)) {
                    document.getElementById('sp2').innerHTML = '<img src="../images/ok.png" />正確';
                } else
                    document.getElementById('sp2').innerHTML = "<img src='../images/error.png' />密碼不符合格式";
                }

            function chkDate() {
                document.getElementById("tips").innerHTML = "<span id='tips'></span>"
                var date = document.getElementById("date1").value;
                var dateArray = date.split("/");
                var year = dateArray[0];
                month = dateArray[1];
                day = dateArray[2];
                var ch = new Date(new Date(date));

                if (date == "") {
                    document.getElementById("sp3").innerHTML = "<img src='../images/error.png' />日期不得空白";
                } else if (ch.getFullYear() == year && (ch.getMonth() + 1) == month && ch.getDate() == day) {
                    document.getElementById("sp3").innerHTML = '<img src="../images/ok.png" />正確';
                } else
                    document.getElementById("sp3").innerHTML = '<img src="../images/error.png" />日期不符合格式';
                }

            function chkAll() {
                chkName();
                chkPwd();
                chkDate();
            }
        </script>
    </script>

</head>

<%= livereload_js %>

<body>
    <div id="connect">

        <!-- <div class="load">
            <div class="light"></div>
            <div class="ball"></div>
        </div> -->

        <div class="windows" id="NxN" style="display:none">
            <div class="splitView">
                <span class="x slitb">
                    <div class="sl">ｘ</div>
                </span>
                <span class="m slitb">
                    <div class="sl">－</div>
                </span>
                <span class="s slitb">
                    <div class="sl">／</div>
                </span>
            </div>

            <div class="mainpage">
                <h2>九九乘法表</h2>

                <script type="text/javascript">
                    NxNtableCul();
                </script>

            </div>
        </div>

        <!-- RegExp -->

        <div class="windows" id="RegExp" style="display:none">
            <div class="splitView">
                <span class="x slitb">
                    <div class="sl">ｘ</div>
                </span>
                <span class="m slitb">
                    <div class="sl">－</div>
                </span>
                <span class="s slitb">
                    <div class="sl">／</div>
                </span>
            </div>

            <div class="mainpage">

                <h2>註冊帳號</h2>
                <span id="tips"></span>
                <br>
                <fieldset id="Signin">
                    <legend>
                        <span style="background-color:#FFF;">" Sign In "</span>
                    </legend>
                    <form action="#" method="get" accept-charset="utf-8">
                        <div class="stl1">
                            <label class="label1" for="account1">姓名：</label>
                            <input type="text" id="account1"/></br>
                        <!-- <span>(1.不可以空白，至少兩個字以上，3.必須全部為中文字)</span> -->
                        <span id="sp1"></span>
                    </div>
                    <div class="stl1">
                        <label class="label1" for="pwd1">密碼：</label>
                        <input type="password" name="pwd1" id="pwd1"/></br>
                    <!-- <span>(1.不可以空白，2.至少6個字包含英文字母、數字、特殊字元〔!@#$%^&*〕)</span> -->
                    <span id="sp2"></span>
                </div>
                <div class="stl1">
                    <label class="label1" for="date">生日：</label>
                    <input type="password" name="date1" id="date1"/></br>
                <!-- <span>輸入格式(1990/01/01)</span> -->
                <span id="sp3"></span>
            </div>

            <div class="stl1">
                <label class="label1" for="memo1">備註：</label>
                <textarea name="memo1" id="memo1" rows="7" cols="25" autofocus></textarea>
            </div>

            <p class="sub">
                <input type="button" value="Continue &rarr;" onclick="chkAll()"/>
            </p>
        </form>
    </fieldset>

</div>
</div>
<!-- Starts  -->
<div class="windows" id="Starts" style="display:none">
<div class="splitView">
    <span class="x slitb">
        <div class="sl">ｘ</div>
    </span>
    <span class="m slitb">
        <div class="sl">－</div>
    </span>
    <span class="s slitb">
        <div class="sl">／</div>
    </span>
</div>

<style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }
    .wrapper {
        height: 20px;
        padding: 10px;
        width: 200px;
        margin: auto;
    }
    a {

        float: left;
        width: 26px;
        height: 20px;
        background: url("star.png") 0 -20px no-repeat;
    }
    #dir {
        font: 24px SimSun;
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }

</style>

<div class="mainpage">
    <h2>星星評分</h2>
    <div class="wrapper">
        <a href="javascript:;" title="1顆星，同情你"></a>
        <a href="javascript:;" title="2顆星，再加油"></a>
        <a href="javascript:;" title="3顆星，及格囉"></a>
        <a href="javascript:;" title="4顆星，很不錯"></a>
        <a href="javascript:;" title="5顆星，太完美"></a>

    </div>
</br></hr>
<span id="dir"></span>

<script src="javascripts/star.js" charset="utf-8"></script>

</div>

</div>

<!-- 廣告輪播  -->

<div class="windows" id="Ad" style="display:none">
<div class="splitView">
<span class="x slitb">
    <div class="sl">ｘ</div>
</span>
<span class="m slitb">
    <div class="sl">－</div>
</span>
<span class="s slitb">
    <div class="sl">／</div>
</span>
</div>

<div class="mainpage">
<h2>廣告輪播</h2>

<div class="tab-content" id="con2">
  <img src="images/Ad/001.jpg" width="450" height="200" alt="Illustrator">
  <div class="detail">
    <h1><a href="javascript:;">Illustrator</a></h1>
    <p>illustrator 是目前平面設計和插畫設計最重要的軟體，本課程有基本圖像繪製範例、印刷排版範例、名片設計範例、酷卡範例、DM排版範例、商業設計範例！上課實際操作每一個範例~現場練習~</p>
  </div>
</div>
<div class="tab-content" id="con3">
  <img src="images/Ad/002.jpg" width="450" height="200" alt="Dreamweaver">
  <div class="detail">
    <h1><a href="javascript:;">Dreamweaver</a></h1>
    <p>本課程是最基礎的網頁設計入門，使用目前業界網頁設計最專業且最普及的軟體 Dreamweaver。</p>
  </div>
</div>
<div class="tab-content" id="con4">
  <img src="images/Ad/003.jpg" width="450" height="200" alt="Javascript">
  <div class="detail">
    <h1><a href="javascript:;">Javascript</a></h1>
    <p>本課程是 JavaScript 的入門課程，為美術設計師量身打造的JavaScript程式設計課程，從最基本的指令語法講起，先讓您一步一步打好 JavaScript 的基礎。</p>
  </div>
</div>
<div class="tab-content" id="con5">
  <img src="images/Ad/004.png" width="450" height="200" alt="CSS">
  <div class="detail">
    <h1><a href="javascript:;">CSS</a></h1>
    <p>徹底改變您對網頁設計的觀念！所有網頁設計師必修的新學分！</p>
    <ul>
      <li><a href="javascript:;">CSS語法結構指令</a></li>
      <li><a href="javascript:;">圖形化區塊的應用</a></li>
      <li><a href="javascript:;">CSS定位排版</a></li>
      <li><a href="javascript:;">CSS排版實例應用</a></li>
    </ul>
  </div>
</div>
<ul class="listReset switch">
  <li><a href="javascript:;" id="tab1">Photoshop</a></li>
  <li><a href="javascript:;" id="tab2">Illustrator</a></li>
  <li><a href="javascript:;" id="tab3">Dreamweaver</a></li>
  <li><a href="javascript:;" id="tab4">Javascript</a></li>
  <li><a href="javascript:;" id="tab5">CSS</a></li>
</ul>

</div>
</div>

<div class="windows" id="Calendar" style="display:none">
<div class="splitView">
<span class="x slitb">
    <div class="sl">ｘ</div>
</span>
<span class="m slitb">
    <div class="sl">－</div>
</span>
<span class="s slitb">
    <div class="sl">／</div>
</span>
</div>

<div class="mainpage">
<h2>日曆驗證</h2>

<script type="text/javascript"></script>

</div>
</div>

</div>
<!--  content -->

<!-- Mac desktop -->
<div id="dock-container">
<div id="dock">
<ul>
<li>
    <span>回首頁</span>
    <img src="images\fruiticons_buttons_apple.png" onclick="goDesktop()"/>

    <!-- /onclick="function () { document.querySlectorAll(.windows).style.display='none'; }" -->
</li>
<li>
    <span>九九乘法表</span>
    <img src="images\fruiticons_buttons_watermelon.png" onclick="displayNxN()"/>
    <!-- onclick="function () { iconToggle(this.id); }" -->

</li>
<li>
    <span>註冊帳號</span>
    <img src="images\fruiticons_buttons_pineapple.png" onclick="displayRegExp()"/>
    <!-- onclick="function () { iconToggle(this.id); }" -->

</li>
<li>
    <span>星星評分</span>
    <img src="images\fruiticons_buttons_orange.png" onclick="displayStarts()"/>
</li>
<li>
    <span>廣告輪播</span>
    <img src="images\fruiticons_buttons_strawberry.png" onclick="displayAd()"/>
</li>
<li>
    <span>日曆驗證</span>
    <img src="images\fruiticons_buttons_grape.png" onclick="displayCalendar()"/>
</li>
</ul>
<div class="base"></div>
</div>
</div>
<!-- Mac desktop -->

</div>
<!--connect -->

<audio autoplay>
<source src="..\audio\macOpen.mp3" type="audio/mpeg">
</audio>

</body>
</html>
