#info {
    border: 1px solid black;
    height: 300px;
    width: 400px;
    line-height: 3em;
    padding-left: 15px;
    margin: 0 auto;
}

article {
    width: 400px;
    float: left;
}

aside {
    width: 400px;
    float: right;
}
