.wrapper {
    height: 20px;
    padding: 5px;
    width: 200px;
    margin: 100px auto 10px;
}

.wrapper a {
    float: left;
    width: 26px;
    height: 20px;
    background: url(../images/star.png) 0 -20px no-repeat;
}

#dir {

    width: 130px;
    margin-left: auto;
    margin-right: auto;
}
